<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Header personalizado -->
  <div class="custom-header">
    <div class="main-title">
      <h1>OrganizAPP-TE</h1>
    </div>
    <div class="subtitle">
      <p>Comienza a organizar tu día a día</p>
    </div>
  </div>

  <div class="login-container">
    
    <!-- Logo o ícono -->
    <div class="logo-section">
      <ion-icon name="walk-outline" size="large" color="success"></ion-icon>
      <h2>{{ title }}
      </h2>
      <p>Ingresa a tu cuenta para continuar</p>
    </div>
  

    <!-- Formulario de Login -->
    <ion-card>
      <ion-card-content>
          <form (ngSubmit)="onLogin()">
            <ion-item>
              <!-- Campo Usuario -->
              <ion-icon name="person-circle-outline" slot="start" color="medium"></ion-icon>
              <ion-label position="stacked">Usuario</ion-label>
              <ion-input 
                type="text" 
                placeholder="Ingresa tu usuario"
                [(ngModel)]="username" 
                name="username"
                #usernameRef="ngModel"
                required
                minlength="3"
                maxlength="8"
                pattern="[a-zA-Z0-9]*">
              </ion-input>
            </ion-item>

            <ion-note color="danger" *ngIf="usernameRef.invalid && usernameRef.touched">
              El usuario debe tener entre 3 y 8 caracteres y ser alfanumérico
            </ion-note>

            <!-- Campo Contraseña -->
            <ion-item>
              <ion-icon name="key-outline" slot="start" color="medium"></ion-icon>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input 
                type="password" 
                placeholder="Ingresa tu contraseña de 4 digitos"
                [(ngModel)]="password" 
                name="password"
                #passwordRef="ngModel"
                required
                minlength="4"
                maxlength="4"
                pattern="[0-9]*"
                >

              </ion-input>
              <ion-note color="danger" *ngIf="passwordRef.invalid && passwordRef.touched">
                Debe ser un número de 4 dígitos
              </ion-note>
            </ion-item>

            <!-- Recordar contraseña -->
            <ion-item lines="none">
              <ion-checkbox slot="start" [(ngModel)]="rememberMe" name="rememberMe"></ion-checkbox>
              <ion-label>Recordar mis datos</ion-label>
            </ion-item>

            <!-- Botón de Login -->
              <ion-button 
                type="submit" 
                expand="block" 
                class="ion-margin-top"
                color="success"
                [disabled]="!username || !password">
                Ingresar
              </ion-button>
          </form> 
        
      </ion-card-content>
    </ion-card>

    <!-- Enlaces adicionales -->
    <div class="links-section">   
      <ion-button fill="clear" size="small" routerLink="/register" color="success">
        Crea tu cuenta gratis
      </ion-button>
    </div> 

  </div> 
  
</ion-content>
