<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OrganizApp-te
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OrganizApp-te</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Loggin page"></app-explore-container>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="loggin" href="/tabs/loggin">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Loggin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon aria-hidden ="true" name="square"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dayActivities" href="/tabs/dayActivities">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Day Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="weekActivities" href="/tabs/weekActivities">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Week Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="monthActivities" href="/tabs/monthActivities">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Month Activities</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
