<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" (click)="openCalendar()">Calendar</ion-button>
    <ion-button expand="block" (click)="openDayActivities()">Days Activities</ion-button>
    <ion-button expand="block" (click)="openWeekActivities()">Week Activities</ion-button>
    <ion-button expand="block" (click)="openMonthActivities()">Month Activities</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Actividades</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</div>
